<!doctype html>
<html>
<head>
    <title>Log in to collabConnect</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="backgroudStyle">
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Welcome to collabConnect</h1>
    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
          <p>You must log in to continue</p>
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Log in</button>
    </form>
    <p>Don't have an account?<a href="/" class="linkCta">Create one now!</a></p>
</div>
</div>
<!-- <img src="img/djSpin.png" alt="black power fist" class="logInImg"> -->
</section>
</body>
</html>
