<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/thaRealMain.css">
    <link rel="stylesheet" href="/main1.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <!-- Banner -->
      <section id="banner">
        <header>
          <h2>Welcome to collabConnect.</h2>
          <p>A site for rappers and producers to find possible collaborators.</p>
        </header>
        <p class="landingText">Already have an account? <a href="/login">Log In</a></p>
        <!-- LOGIN FORM -->
        <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- LOGIN FORM -->
            <form action="/login" class="signUpForm" method="post">
                <div class="form-group">
                  <p class="landingText">You must log in to continue</p>
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Log in</button>
            </form>
            <p>Don't have an account?<a href="/" class="linkCta">Create one now!</a></p>
        </div>
        </div>
      </section>

  </body>
</html>
